.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  bottom: 0;
  width: 100%;
  padding: 5px 10px;
}

.footer__amount {
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  color: #8D8D8D;
  padding: 9px;
}

.footer__buttons {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.footer__button {
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  color: #8D8D8D;
  cursor: pointer;
  border: none;
  padding: 9px;
  border-radius: 3px;
  text-decoration: none;
}

.footer__button_active {
  border: 1px solid rgba(204, 173, 173, 0.5);
}

.footer__button:hover {
  color: #111;
}

.footer__button-clear .footer__button:hover {
  color: #ff0000;
}
