.checkbox.checkbox__container {
    display: inline-block;
    position: relative;
    padding-left: 55px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom: 1px solid #eee;
}

.checkbox.checkbox__container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox.checkbox__container input:checked ~ .checkbox__checkmark:after {
    opacity: 1;
}

.checkbox.checkbox__container .checkbox__checkmark {
    position: absolute;
    top: 12px;
    left: 5px;
    height: 32px;
    width: 32px;
    background-color: transparent;
    transition: background-color 0.25s ease;
    border-radius: 100%;
    border: 1px solid #eee;
}

.checkbox.checkbox__container .checkbox__checkmark:after {
    content: "";
    position: absolute;
    left: 11px;
    top: 3px;
    width: 9px;
    height: 18px;
    border: solid #55c279;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 1;
    transition: opacity 0.25s ease;
}

.checkbox.checkbox__container .checkbox__body {
    line-height: 3;
    transition: color 0.25s ease;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 20px;
    font-style: normal;
}

.checkbox__completed {
    text-decoration: line-through;
    text-decoration-thickness: 1px;
    opacity: 0.5;
}

.delete-btn {
    position: absolute;
    top: 14px;
    right: 25px;
    width: 30px;
    height: 30px;
    background-image: url("../../assets/img/icon__cross.svg");
    background-position: center;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    border-radius: 50%;
    opacity: 0;
}

.delete-btn:hover {
    cursor: pointer;
}

.checkbox:hover .delete-btn {
    opacity: 0.2;
}
